{# -------------------------------------- #}
{# QFX MACsec configuration (real mode)   #}
{# -------------------------------------- #}

{% set ca = device.macsec.ca_name | default("CA1") %}
{% set cipher = platform.macsec.cipher | default("gcm-aes-xpn-256") %}

# --------------------------------------
# Connectivity Association
# --------------------------------------

set security macsec connectivity-association {{ ca }} cipher-suite {{ cipher }}
set security macsec connectivity-association {{ ca }} security-mode static-cak
set security macsec connectivity-association {{ ca }} replay-protect
