set system login class {{ peer_cmd_class }} permissions view
set system login class {{ peer_cmd_class }} allow-commands "^(quit|exit|logout|op qkd_onbox\.py.*)$"
set system login class {{ peer_cmd_class }} deny-configuration ".*"
set system login user {{ peer_cmd_user }} authentication encrypted-password "*"