set system login class {{ peer_cmd_class }} permissions view
set system login class {{ peer_cmd_class }} deny-configuration ".*"
set system login user {{ peer_cmd_user }} authentication encrypted-password "*"